# NAS user UID (id -u <username>)
NAS_UID=
# NAS user GID (id -g <username>)
NAS_GID=
# getent group render | cut -d: -f3
RENDER_GID=
# cat /etc/timezone
TZ=

# Full path to user files (e.g. /mnt/data/files)
PATH_TO_FILES=
# Full path to media files (e.g. /mnt/data/media)
PATH_TO_MEDIA=

# Root domain name (e.g. my-nas.some-ddns.org)
ROOT_DOMAIN=
