services:
  init:
    image: alpine
    entrypoint: install -d -o ${NAS_UID:?} -g ${NAS_GID:?} -m 770
    volumes:
      - ./:/tmp/audiobookshelf
      - ${PATH_TO_MEDIA:?}:/tmp/media
    command:
      - /tmp/audiobookshelf/config
      - /tmp/audiobookshelf/metadata
      - /tmp/media
      - /tmp/media/audiobooks

  # https://github.com/advplyr/audiobookshelf/pkgs/container/audiobookshelf
  # https://github.com/advplyr/audiobookshelf/releases
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:2.32.1
    container_name: audiobookshelf
    restart: unless-stopped
    user: ${NAS_UID:?}:${NAS_GID:?}
    networks:
      - proxy
    environment:
      TZ: ${TZ:?}
    volumes:
      - ./config:/config
      - ./metadata:/metadata
      - ${PATH_TO_MEDIA:?}/audiobooks:/audiobooks
    labels:
      glance.icon: di:audiobookshelf
      glance.url: https://audiobookshelf.${ROOT_DOMAIN:?}
      glance.category: media

      traefik.enable: true
      traefik.http.routers.audiobookshelf.entrypoints: local-secure,external-secure

      wud.watch: true
      wud.watch.digest: true
      wud.tag.include: ^v?\d+\.\d+\.\d+$$
    depends_on:
      init:
        condition: service_completed_successfully

networks:
  default:
    driver_opts:
      com.docker.network.bridge.name: br-abs
  proxy:
    external: true
