services:
  init:
    image: alpine
    entrypoint: install -d -o ${NAS_UID:?} -g ${NAS_GID:?} -m 770
    volumes:
      - ./:/tmp/filebrowser
      - ${PATH_TO_MEDIA:?}:/tmp/media
      - ${PATH_TO_FILES:?}:/tmp/files
    command:
      - /tmp/filebrowser/data
      - /tmp/filebrowser/cache
      - /tmp/media
      - /tmp/files

  # https://github.com/gtsteffaniak/filebrowser/pkgs/container/filebrowser
  # https://github.com/gtsteffaniak/filebrowser/releases
  filebrowser:
    image: ghcr.io/gtsteffaniak/filebrowser:1.1.1-stable-slim
    container_name: filebrowser
    restart: unless-stopped
    user: ${NAS_UID:?}:${NAS_GID:?}
    networks:
      - proxy
    environment:
      TZ: ${TZ:?}
    volumes:
      - ./data:/home/filebrowser/data
      - ./cache:/home/filebrowser/cache
      - ./config.yaml:/home/filebrowser/config.yaml:ro
      - ${PATH_TO_MEDIA:?}:/srv/media
      - ${PATH_TO_FILES:?}:/srv/files
    labels:
      glance.icon: di:filebrowser-quantum
      glance.url: https://filebrowser.${ROOT_DOMAIN:?}
      glance.category: media

      traefik.enable: true

      wud.watch: true
      wud.watch.digest: true
      wud.tag.include: ^v?\d+\.\d+\.\d+\-stable\-slim$$
    depends_on:
      init:
        condition: service_completed_successfully

networks:
  proxy:
    external: true
