# https://www.authelia.com/configuration/second-factor/time-based-one-time-password/#issuer
TOTP_ISSUER=

# https://www.authelia.com/configuration/notifications/smtp/
SMTP_ADDRESS=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER=
