services:
  # https://hub.docker.com/r/dbgate/dbgate/tags
  # https://github.com/dbgate/dbgate/releases
  dbgate:
    image: dbgate/dbgate:7.0.0
    container_name: dbgate
    restart: unless-stopped
    networks:
      - proxy
      - database
    environment:
      LOGIN: ${LOGIN:?}
      PASSWORD: ${PASSWORD:?}
    volumes:
      - ./data:/root/.dbgate
      - /etc/localtime:/etc/localtime:ro
    labels:
      glance.name: DbGate
      glance.icon: sh:dbgate.png
      glance.url: https://dbgate.${ROOT_DOMAIN:?}
      glance.category: admin

      traefik.enable: true

      wud.watch: true
      wud.watch.digest: true
      wud.tag.include: ^v?\d+\.\d+\.\d+$$

networks:
  proxy:
    external: true
  database:
    external: true
