services:
  init:
    image: alpine
    entrypoint: install -d -o ${NAS_UID:?} -g ${NAS_GID:?} -m 770
    volumes:
      - ./:/tmp/monitoring
    command:
      - /tmp/monitoring/grafana/data
      - /tmp/monitoring/prometheus/data
      - /tmp/monitoring/alertmanager/data
      - /tmp/monitoring/alertmanager/config

  # https://hub.docker.com/r/grafana/grafana/tags
  # https://github.com/grafana/grafana/releases
  grafana:
    image: grafana/grafana:12.3.1
    container_name: grafana
    restart: unless-stopped
    user: ${NAS_UID:?}:${NAS_GID:?}
    networks:
      - default
      - proxy
    environment:
      TZ: ${TZ:?}
      GF_SERVER_DOMAIN: grafana.${ROOT_DOMAIN:?}
      GF_SERVER_ROOT_URL: https://grafana.${ROOT_DOMAIN:?}/
      GF_SERVER_SERVE_FROM_SUB_PATH: false
    volumes:
      - ./grafana/data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    labels:
      glance.icon: di:grafana
      glance.url: https://grafana.${ROOT_DOMAIN:?}
      glance.category: monitoring

      traefik.enable: true

      wud.watch: true
      wud.watch.digest: true
      wud.tag.include: ^v?\d+\.\d+\.\d+$$
    depends_on:
      init:
        condition: service_completed_successfully
      prometheus:
        condition: service_healthy

  # https://hub.docker.com/r/prom/prometheus/tags
  # https://github.com/prometheus/prometheus/releases
  prometheus:
    image: prom/prometheus:v3.9.1
    container_name: prometheus
    restart: unless-stopped
    user: ${NAS_UID:?}:${NAS_GID:?}
    extra_hosts:
      host.docker.internal: host-gateway
    networks:
      - default
      - proxy
    volumes:
      - ./prometheus/data:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/alerts.yml:/etc/prometheus/alerts.yml:ro
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: wget -q --spider http://localhost:9090/
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s
      start_interval: 5s
    labels:
      glance.icon: di:prometheus
      glance.url: https://prometheus.${ROOT_DOMAIN:?}
      glance.category: monitoring

      traefik.enable: true

      wud.watch: true
      wud.watch.digest: true
      wud.tag.include: ^v?\d+\.\d+\.\d+$$
    depends_on:
      init:
        condition: service_completed_successfully
      node-exporter:
        condition: service_healthy
      cadvisor:
        condition: service_healthy
      smartctl-exporter:
        condition: service_healthy
      alertmanager:
        condition: service_healthy

  # https://hub.docker.com/r/prom/node-exporter/tags
  # https://github.com/prometheus/node_exporter/releases
  node-exporter:
    image: prom/node-exporter:v1.10.2
    container_name: node-exporter
    restart: unless-stopped
    network_mode: host
    pid: host
    command:
      - --path.rootfs=/host
      - --collector.disable-defaults
      - --collector.cpu
      - --collector.diskstats
      - --collector.filesystem
      - --collector.filesystem.mount-points-exclude=^/(run|boot|sys|proc|dev)($|/.+)
      - --collector.hwmon
      - --collector.meminfo
      - --collector.netdev
      - --collector.netdev.device-exclude=^(veth.*|lo|br\-.*|docker.*)$
      - --collector.stat
      - --collector.time
    volumes:
      - /:/host:ro,rslave
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: wget -q --spider http://localhost:9100/
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s
      start_interval: 5s
    labels:
      wud.watch: true
      wud.watch.digest: true
      wud.tag.include: ^v?\d+\.\d+\.\d+$$

  # https://github.com/google/cadvisor/pkgs/container/cadvisor
  # https://github.com/google/cadvisor/releases
  cadvisor:
    image: ghcr.io/google/cadvisor:0.56.2
    container_name: cadvisor
    restart: unless-stopped
    networks:
      - default
      - proxy
    command:
      - --docker_only
      - --store_container_labels=false
      - --housekeeping_interval=10s
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
      glance.name: cAdvisor
      glance.icon: di:cadvisor.png
      glance.url: https://cadvisor.${ROOT_DOMAIN:?}
      glance.category: monitoring

      traefik.enable: true

      wud.watch: true
      wud.watch.digest: true
      wud.tag.include: ^v?\d+\.\d+\.\d+$$

  # https://hub.docker.com/r/prometheuscommunity/smartctl-exporter/tags
  # https://github.com/prometheus-community/smartctl_exporter/releases
  smartctl-exporter:
    image: prometheuscommunity/smartctl-exporter:v0.14.0
    container_name: smartctl-exporter
    restart: unless-stopped
    user: root
    privileged: true
    healthcheck:
      test: wget -q --spider http://localhost:9633/
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s
      start_interval: 5s
    labels:
      wud.watch: true
      wud.watch.digest: true
      wud.tag.include: ^v?\d+\.\d+\.\d+$$

  # https://hub.docker.com/r/prom/alertmanager/tags
  # https://github.com/prometheus/alertmanager/releases
  alertmanager:
    image: prom/alertmanager:v0.30.1
    container_name: alertmanager
    restart: unless-stopped
    user: ${NAS_UID:?}:${NAS_GID:?}
    entrypoint: /app/docker-entrypoint.sh
    command:
      - --config.file=/app/config/alertmanager.yml
      - --storage.path=/app/data
    networks:
      - default
      - proxy
    environment:
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN:?}
      TELEGRAM_CHAT_ID: ${TELEGRAM_CHAT_ID:?}
    tmpfs:
      - /alertmanager
    volumes:
      - ./alertmanager:/app
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: wget -q --spider http://localhost:9093/
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s
      start_interval: 5s
    labels:
      wud.watch: true
      wud.watch.digest: true
      wud.tag.include: ^v?\d+\.\d+\.\d+$$
    depends_on:
      init:
        condition: service_completed_successfully

networks:
  default:
    driver_opts:
      com.docker.network.bridge.name: br-${COMPOSE_PROJECT_NAME:?}
  proxy:
    external: true
