services:
  init:
    image: alpine
    entrypoint: install -d -o ${NAS_UID:?} -g ${NAS_GID:?} -m 770
    volumes:
      - ./:/tmp/whats-up-docker
    command:
      - /tmp/whats-up-docker/data

  # https://github.com/getwud/wud/pkgs/container/wud
  # https://github.com/getwud/wud/releases
  whats-up-docker:
    image: ghcr.io/getwud/wud:8.1.1
    container_name: whats-up-docker
    restart: unless-stopped
    user: ${NAS_UID:?}:${NAS_GID:?}
    networks:
      - proxy
      - readonly-docker-socket
    environment:
      WUD_LOG_LEVEL: ${LOG_LEVEL:?}
      WUD_SERVER_FEATURE_DELETE: false
      WUD_WATCHER_DOCKER_CRON: 0 */12 * * *
      WUD_WATCHER_DOCKER_HOST: readonly-docker-socket
      WUD_WATCHER_DOCKER_PORT: 2375
      WUD_WATCHER_DOCKER_SOCKET: tcp://readonly-docker-socket
      WUD_WATCHER_DOCKER_WATCHBYDEFAULT: false
      WUD_WATCHER_DOCKER_WATCHEVENTS: false
      TZ: ${TZ:?}
    volumes:
      - ./data:/store
    labels:
      glance.name: What's Up Docker
      glance.icon: sh:wud
      glance.url: https://wud.${ROOT_DOMAIN:?}/containers?update-available=true&group-by-label=com.docker.compose.project
      glance.category: monitoring

      traefik.enable: true
      traefik.custom.host: wud

      wud.watch: true
      wud.watch.digest: true
      wud.tag.include: ^v?\d+\.\d+\.\d+$$
    depends_on:
      init:
        condition: service_completed_successfully

networks:
  default:
    driver_opts:
      com.docker.network.bridge.name: br-wud
  proxy:
    external: true
  readonly-docker-socket:
    external: true
