services:
  # https://hub.docker.com/r/louislam/uptime-kuma/tags
  # https://github.com/louislam/uptime-kuma/releases
  uptime-kuma:
    image: louislam/uptime-kuma:2.0.2
    container_name: uptime-kuma
    restart: unless-stopped
    networks:
      - proxy
    environment:
      PUID: ${NAS_UID:?}
      PGID: ${NAS_GID:?}
      TZ: ${TZ:?}
    volumes:
      - ./data:/app/data
    labels:
      glance.icon: di:uptime-kuma
      glance.url: https://uptime-kuma.${ROOT_DOMAIN:?}
      glance.category: admin

      traefik.enable: true

      wud.watch: true
      wud.watch.digest: true
      wud.tag.include: ^v?\d+\.\d+\.\d+$$

networks:
  proxy:
    external: true
